@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}
.smcont{
    width: 100%;
    height: 270vh;
    background-color: #E5E5E5;
}
.smnavbar{
 width: 100%;
 height: 10vh;
 background-color: #E5E5E5;
 display: flex;
 align-items: center;

}
.smnav{
    width: 70%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.smright ul{
    list-style: none;
    display: flex;
    gap: 36px;
}
.smright a{
    text-decoration: none;
    color: #4B321D;
    font-size: 18px;
    font-weight: 400;
}
.smright a:hover{
    color: white;
}
.smtext{
    width: 90%;
    margin: 5% auto;
}
.smtext h1{
    font-size: 80px;
    line-height: 100px;
    font-weight: 400;
    color: #4B321D;
}
.smimg{
    width: 100%;
    margin: 10% 0%;
}
.smimg img{
    width: 100%;
}
.smbtn{
    width: 90%;
    margin: 5% auto;
}
.smbtn button{
    width: 160px;
    height: 50px;
    background: none;
    border: 2px solid #4B321D;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
}
.smbtn button:hover{
    background-color: #4B321D;
    color: #E5E5E5;
}

.by-smain{
    display: flex;
    justify-content: center;
}
.by-main{
    display: flex;
    gap: 100px;
}
.by-smain1{
    width: 90%;
}
.by-smain1 h1{
    font-size: 80px;
    font-weight: 400;
    color: #4B321D;
}
.by-smain1 button{
    font-size: 20px;
    padding: 10px 17px;
    background-color: transparent;
    border-color: #4B321D;
    color: #4B321D;
}
.by-right p{
    font-size: 38px;
    color: #4B321D;
}
.by-right button{
    font-size: 20px;
    padding: 10px 17px;
    background-color: transparent;
    border-color: #4B321D;
    color: #4B321D;
}
.by-right {
    /* display: flex; */
    align-items: center;
}
